main{
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    height: fit-content;
    min-width: 370px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #C9B59C;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 20px #D9CFC7;

    form{
        display: flex;
        flex-direction: column;
        gap: 1rem;


        input,button{
            border: none;
            outline: none;
            padding-inline: 1.3rem;
            padding-block: 1rem;
            border-radius: .5rem;
            font-size: 1rem;
        }

        button{
            background-color: #D9CFC7;
            color: rgb(255, 255, 255);
            font-weight: 700;
            cursor: pointer;
            transition: all ease .3s;
        }

        button:active{
            transform: scale(.96);
        }
    }

    .toggleAuthForm{
        text-decoration: none;
        color: #964c0f;
        cursor: pointer;
    }
}