.expression{
    height: 70vh;
    padding: 5vh 0;
    width: 25%;
    border: 3px solid #58345b;
    border-radius: 1rem;
    background: linear-gradient(to top, #290e48,#1c0129,#1c0129);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}