.home{
    height: 100vh;
    width: 100%;
    display: flex;
    padding: 1vw;
    background-image: url(https://i.pinimg.com/1200x/6c/74/59/6c7459e21ed7ab41029b7071c1577cfd.jpg);
    background-size: cover;
    background-position: center;
}