* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #222;
}



.notes{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
}

.note{
  background-color: rgba(99, 96, 99, 0.667);
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 1rem;
  border-radius: 1rem;
  color: whitesmoke;
}