* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #222;
}

form{
  display: flex;
  padding: 2rem;
  gap: 2rem;
}

form input{
  font-size: 1.4rem;
  padding: .2rem .7rem;
  border-radius: .3rem;
}

form button{
  padding: .5rem 1rem;
  font-size: 1.3rem;
  border-radius: .5rem;
  cursor: pointer;
}

form button:active{
  scale: .97;
}

.notes{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
}

.note{
  background-color: rgba(99, 96, 99, 0.667);
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 1rem;
  gap: .5rem;
  border-radius: 1rem;
  color: whitesmoke;
}

.note button{
  padding: .4rem .8rem;
  font-size: 1rem;
  border-radius: .5rem;
  border: none;
}

.note button:active{
  scale: .97;
}